<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
    <style>  
	.login {
	  display:none;	
	  background-color:rgb(192,192,192);
	  width:300px;
	  height:100px;
	  border:none;
	  border-radius:15px;
	  margin:10px;
	  padding:20px;
	  margin-left:auto;
	  position:absolute;	
	  top:34px;
	  left:1025px;
	  }
	
	#user {
	  margin:0;
	  padding:10px;
	  }
	#pwd {
	  margin:0;
	  padding:11px; 
	}
	#loginbtn {
	  position: relative;
	  left:200px;
	  } 	
   </style>
   
</head>

<body>
	<div class="container">
    	<div class="topbar">
			<form id="search-form" action="/search" method="GET" style="padding-left: 900px;">
				<input type="text" id="search-query" name="search" placeholder="Search..." style="border: 3px solid thick"/>
			</form>
			<div class="buttons">
				<button class="btn" id="user-login" onclick="handleUserLogin()">User Login</button>
				<button class="btn" id="dev-login" onclick="handleDevLogin()">Developer Login</button>
		        <button class="btn" id="regstr" onclick="handleRegstr()">Register</button>
			</div>
		</div>
		
    	<div class="sidebar">	
			<img src="/images/icon.png" id = "icon" />	
    		<div class="separator"> </div>
    		
    		<div class="category">
				
				<div class="item" id="tools">
					<img id="tools-icon" src="/images/tools.png"/>
	    			<button id="tools-btn" onclick="showtools()">tools</button>	
	    			<div class="rollon"></div>
    			</div> 
    			
    			<div class="item" id="entertain" style="display: flex; justify-content: space-between; ">
					<img id="entertain-icon" src="/images/entertain.png"/>
	    			<button id="entertain-btn">entertainment</button>
	    			<div class="rollon"></div>	
    			</div>
    			
    		</div>
		</div>
		
    	<div class="main" >	
			<div id="searchResults" th:if="${searchResults}">
				 <div style="text-align: center;"><h4>Searched for : <span th:text="${searchData.search}"></span></h4></div>
    			 <table id='search-table'>
				<thead>
					<tr>
						<th>extension</th>
						<th>description</th>
						<th>link</th>
						<th>rating</th>
						<th>feedback</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "result : ${searchResults}">
						<td th:text="${result[0]}"></td>
						<td th:text="${result[1]}"></td>
						<td th:text="${result[0]}"></td>
						<td th:text="${result[0]}"></td>
						<td th:text="${result[0]}"></td>
						
			 		</tr>
				</tbody>
				</table>
			</div>
		</div>
  	</div>
	
	
	<div class="login" id="login" >
	    <div id = "user">
	      <label for="user">Username:</label>
	      <input type="text" name="user" />
	    </div>
	    <div id = "pwd">
	      <label for="pwd">Password:</label>
	      <input type="text" name="pwd"/>
	    </div>
	    <button type="submit" id = "loginbtn" onclick="handlePostUserLogin()">login</button>
	</div>  
	
	
	<script>
		const tools_btn = document.getElementById("tools-btn");
		tools_btn.addEventListener('click', function() {
			document.getElementById("descr").innerHTML = "This is the project despriction. Download it for best user expirence";
		});
		
		const entertain_btn = document.getElementById("entertain-btn");
		entertain_btn.addEventListener('click', function() {
			alert('entertain button clicked');
		});			
	</script>
	
	<script>
		const buttons = document.getElementById("buttons").cloneNode(true);
		const topbar = document.querySelector(".topbar").innerHTML;
		topbar.appendChild(buttons);
	</script>
	
	<script>
		function handleUserLogin() {
			var lgn = document.getElementById("login");
			lgn.style.display = "block";
			console.log("user login clicked");
		}
		
		function handlePostUserLogin() {
			var lgn = document.getElementById("login");
			lgn.style.display = "none"; 
		}
	</script>
	
	<script>
		function showtools() {
			console.log("tools cliked");
			alert('tools cliked');
		}
		
	</script>
	
	<script>
		document.getElementById('search-query').addEventListener('keydown', function(e) {
			if(e.key === 'Enter') {
				e.preventDefault();
				document.getElementById('search-form').submit(); 
			}
		});
	</script>
	
</body>
</html>