<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <title>Browser Extension Store</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
    <link rel="icon" href="/images/favicon.png" type="image/png">
    
    <style>  
	.login {
	  display:none;	
	  background-color:rgb(192,192,192);
	  width:300px;
	  height:100px;
	  border:none;
	  border-radius:15px;
	  margin:10px;
	  padding:20px;
	  margin-left:auto;
	  position:absolute;	
	  top:34px;
	  left:1025px;
	  }

	#user {
	  margin:0;
	  padding:10px;
	  }
	#pwd {
	  margin:0;
	  padding:11px; 
	}
	#loginbtn {
	  position: relative;
	  left:200px;
	  } 	
   </style>
   
   <style>
	   
	   .outer {
		  padding: 15px;
		  background: inherit;
		}
		
		.inner {
		    display: grid;
		    grid-template-columns: repeat(15, 1fr); 
		    grid-auto-rows: 20px;
		    grid-gap: 10px;
		    background: inherit;
		}
		
		.review-box {
			border-radius:5px; 
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		}
		
		hr {
		  width: 85%; 
		  border: none; 
		  border-top: 1px solid rgb(160, 160, 160);
		  margin:0 auto;
		  position:relative;
		  top:25%;
		}
		
		.quote-image {
		  height: 7px;
		  width: 7px;
		}
		
		.quote-image.opening {
		  left:5%;
		  top: 17%; 
		  position: absolute; 
		  margin-left:2px;
		  padding:0 2px;
		  background-color:inherit;
		  transform:rotate(180deg);
		}
		
		.quote-image.closing {
		  right:15%;
		  top:93%;
		  position: absolute;
		  padding:0 2px;
		  background-color:inherit;
		}
		
		.user-dugout {
		  top:10%;
		  left:15%;
		  display:block;
		  position:relative;
		  padding:0;
		  margin:0;
		}
		
		.img-box {
		  display:block;
		  position: relative;
		  margin:0;
		  left: 20px;
		  top: 15px;
		  
		}
		
		.img-box img {
		  width:60px;
		  height:60px;
		  border-radius: 5px;
		  mix-blend-mode: multiply;
		}
		
		h6 {
		  font-family: Garamond, serif; 
		  margin:0;
		  padding:0;
		}
		
		.feedback-stars {
		  display: flex;
		  gap: 1px;
		  margin-top:7px;
		  padding: 3px;
		}
		
		.feedback-stars div {
		  background-image: url('https://assets.onecompiler.app/42rxsn3ht/42thfqst7/star-images-9439.png');
		  background-repeat: no-repeat;
		  background-size: contain;
		  width: 12px;
		  height: 12px;
		  mix-blend-mode: multiply;
		}
		
		#loc {
		  font-family:"Courier New", Courier, monospace;
		  font-size: 8px;
		  padding: 0;
		  margin: 7px 0;
		}
		
		.reviewBox {
		  width:75%;
		  height:25%;
		  border-left: 1px solid red;
		  border-bottom: 1px solid red;
		  border-top:none;
		  border-right:none;
		  border-bottom-left-radius:10px;
		  margin-left:10px;
		  top:14%;
		  position:relative;
		  background-color: inherit;
		}
		
		#user-remark {
		  font-family: 'Helvetica';
		  font-size:6px;
		  font-style: italic;
		  padding-left: 10px;
		  position:absolute;
		  top:21%;
		}
		
		#review-age {
		  font-family:'Verdana';
		  font-size:5px;
		  font-style:italic;
		  position:absolute;
		  left:60%;
		  bottom:1%;
		}
   </style>

</head>

<body>
	<div class="container">
    	<div class="topbar">
			<form id="search-form" action="/search" method="GET" style="padding-left: 900px;">
				<input type="text" id="search-query" name="search" placeholder="Search..." style="border: 3px solid thick"/>
			</form>
			<div class="buttons">
				<button class="btn" id="user-login" onclick="handleUserLogin()">User Login</button>
				<button class="btn" id="dev-login" onclick="handleDevLogin()">Developer Login</button>
		        <button class="btn" id="regstr" onclick="handleRegstr()">Register</button>
			</div>
		</div>

    	<div class="sidebar">	
			<div style="text-align: center;">
			    <img src="/images/icon.png" id="icon" />
			</div>
    		<div class="separator"> </div>

    		<div class="category">

				<div class="item" id="tools">
					<img id="tools-icon" src="/images/tools.png"/>
	    			<button id="tools-btn" onclick="showtools()">tools</button>	
	    			<div class="rollon"></div>
    			</div> 

    			<div class="item" id="entertain" style="display: flex; justify-content: space-between; ">
					<img id="entertain-icon" src="/images/entertain.png"/>
	    			<button id="entertain-btn">entertainment</button>
	    			<div class="rollon"></div>	
    			</div>

    			<div class="item" id="shopping">
					<img id="shopping-icon" src="/images/shopping.png"/>
	    			<button id="tools-btn" onclick="showtools()">shopping</button>	
	    			<div class="rollon"></div>
    			</div> 
    			<div class="item" id="accessiblility" style="display: flex; justify-content: space-between; ">
					<img id="accessiblility-icon" src="/images/accessability.png"/>
	    			<button id="accessiblility-btn">accessiblility</button>
	    			<div class="rollon"></div>	
    			</div>

    			<div class="item" id="art-design" style="display: flex; justify-content: space-between; ">
					<img id="art-design-icon" src="/images/art-desing.png"/>
	    			<button id="art-design-btn">art-design</button>
	    			<div class="rollon"></div>	
				</div>
    		</div>
		</div>

    	<div class="main" >	
			<div id="searchResults" th:if="${searchResults}">
				 <div style="text-align: center;"><h4>Searched for : <span th:text="${searchData.search}"></span></h4></div>
    			 <table class='search-table'>
				<thead>
					<tr>
						<th>extension</th>
						<th>description</th>
						<th>link</th>
						<th>rating</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "result : ${searchResults}">
						<td>
							<div>
	            				<img class="thumbnail" th:src="'data:' + ${result.mimeType} + ';base64,' + ${result.thumbnailBase64}" alt="Image" th:onclick="'handleAppDetails(' + ${result.serialNo} + ')'"/>
	        				</div>
	       					<div style="margin:auto;">
	        				    <span th:text="${result.extensionName}"></span>
	       					</div>	
       					</td>
						<td th:text="${result.description}"></td>
						<td>
							<a th:href="@{''}" onclick="updateDownloadStats(event)">Click here...</a>
						</td>
						<td>
    						<span th:text="${#numbers.formatDecimal(result.rating, 1, 1)} + ' (' + ${result.raters} + ')'"></span>
						</td>
			 		</tr>
				</tbody>
				</table>
			</div>

			<div th:if="${appDetailsInStore}">
			    <div id="appDetails" style="width:80%; height:5px; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: relative;" >
					<img style="height: 50px; width: 50px; border-radius: 5px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);" th:src="${'data:' + appDetailsInThumbnail.mimeType + ';base64,' + thumbnailBase64}" alt="Image" />
					<h3 style="display: inline; position: absolute; top:50%;transform:translateY(-50%); padding-left: 10px;">
			        	<span th:text="${appDetailsInStore.extensionName}"></span>
					</h3>
			        <table>
			            <tr>
			                <td th:text="${appDetailsInStore.description}" style="margin: auto; text-align: left; padding: 10px;"></td>
			            </tr>
			         </table>   
			    <div style="display: flex; margin: 20px;">    
					<div style="width: 40%; height: 300px;">  <!-- Set a fixed height here -->
					    <canvas id="ratings"></canvas>
					</div>
					<div style="width: 60%; height: 300px; margin-left: 20px;">  <!-- Set a fixed height here -->
					    <canvas id="downloads"></canvas>
					    <div><a th:href="@{''}" onclick="updateDownloadStats(event)">Click here...</a></div>

					</div>
				</div>
				
				
					<div class="outer" style="position:relative;"> 
					  <p style="text-align:center; padding: 0; margin: 0;">Users say ...</p>
					
					  <div class="inner" style="position:relative;"> 
					  
					    <div class="review-box" style="grid-column:1/4; grid-row:1/11;position:relative; background-color:rgb(210, 210, 210);">
					      <div class='user-dugout'>
					          <div class="img-box">
								  <img src="https://lh3.googleusercontent.com/a/ACg8ocL9ska0aILGaSluiTFX_WifrgWDHkyuOCQDUejk3OzoTRYWrd0Q1A=s96-c" referrerpolicy="no-referrer">
					              <h6>LINDA RAUT</h6>
					          </div>
					          <div class='feedback-stars' id = 'stars1'></div>
					          <p id ='loc'></p>
					      </div>
					      
					      <div class ='reviewBox'>
					          <hr/> 
					          <p id='user-remark'></p>
					          <img class ="quote-image opening" src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/>
					          <img class ='quote-image closing' src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/> 
					      </div>
					      <p id = 'review-age'></p>
					    </div> 
					       
					    <div class="review-box" style="grid-column:4/7; grid-row:1/11;position: relative;background-color:rgb(171,247, 178);">
					      <div class='user-dugout'>
					          <div class="img-box">
					              <img src="/images/Mona.png"/>
					              <h6>MONA LISA</h6>
					          </div>
					          <div class='feedback-stars' id = 'stars1'></div>
					          <p id ='loc'></p>
					      </div>
					      
					      <div class ='reviewBox'>
					          <hr/> 
					          <p id='user-remark'></p>
					          <img class ="quote-image opening" src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/>
					          <img class ='quote-image closing' src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/> 
					      </div>
					      <p id = 'review-age'></p>
					    </div> 
					   
					    <div class="review-box" style="grid-column:7/10; grid-row:1/11; position:relative;background-color:rgb(255,216, 240);">
					      <div class='user-dugout'>
					          <div class="img-box">
					              <img src="/images/Parul.png"/>
					              <h6>PARUL RAUT</h6>
					          </div>
					          <div class='feedback-stars' id = 'stars1'></div>
					          <p id ='loc'></p>
					      </div>
					      
					      <div class ='reviewBox'>
					          <hr/> 
					          <p id='user-remark'></p>
					          <img class ="quote-image opening" src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/>
					          <img class ='quote-image closing' src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/> 
					      </div>
					      <p id = 'review-age'></p>
					    </div>
					    
					    <div class="review-box" style="grid-column:10/13; grid-row:1/11;position:relative; background-color:rgb(210, 210, 210);">
					      <div class='user-dugout'>
					          <div class="img-box">
					              <img src="/images/Linda.png"/>
					              <h6>LINDA RAUT</h6>
					          </div>
					          <div class='feedback-stars' id = 'stars1'></div>
					          <p id ='loc'></p>
					      </div>
					      
					      <div class ='reviewBox'>
					          <hr/> 
					          <p id='user-remark'></p>
					          <img class ="quote-image opening" src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/>
					          <img class ='quote-image closing' src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/> 
					      </div>
					      <p id = 'review-age'></p>
					    </div> 
					    
					    
					    <div class="review-box" style="grid-column:13/16; grid-row:1/11;position:relative; background-color:rgb(210, 210, 210);">
					      <div class='user-dugout'>
					          <div class="img-box">
					              <img src="/images/Linda.png"/>
					              <h6>LINDA RAUT</h6>
					          </div>
					          <div class='feedback-stars' id = 'stars1'></div>
					          <p id ='loc'></p>
					      </div>
					      
					      <div class ='reviewBox'>
					          <hr/> 
					          <p id='user-remark'></p>
					          <img class ="quote-image opening" src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/>
					          <img class ='quote-image closing' src ="https://assets.onecompiler.app/42rxsn3ht/42v4wwv8t/favpng_logo-testimonial-customer-industrial-design.png"/> 
					      </div>
					      <p id = 'review-age'></p>
					    </div> 
					    
					    
					  </div>  
					</div> 
					
				 
			     
			    </div>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

			<script>
			  const ctx = document.getElementById('ratings');
			  var yValues = ["5 star", "4 star", "3 star", "2 star", "1 star"];
			  var xValues = [50, 40, 30, 20, 10];
			  const totalRatings = xValues.reduce((a, b) => a+b, 0);
			  var barColor = "limegreen";

			  const percentage = {
			    id: 'percentPlugin',
			    afterDatasetsDraw(chart) {
			      const ctx = chart.ctx;
			      chart.data.datasets.forEach((dataset, i) => {
			        const meta = chart.getDatasetMeta(i);
			        meta.data.forEach((bar, index) => {
			          const dataValue = dataset.data[index];
			          const percent = ((dataValue / totalRatings) * 100).toFixed(1);
			          const percentage = "(" + percent + "%" +")";

			          ctx.fillStyle = '#000';
			          ctx.font = '12px Arial';
			          ctx.textAlign = 'right';
			          ctx.textBaseline = 'middle';

			          const padding = 50;
					  const xPosition = chart.chartArea.right + padding;
			          const yPosition = bar.y;
			          ctx.fillText(percentage, xPosition, yPosition);
			        });
			      });
			    }
			  };

			  new Chart(ctx, {
			    type: "bar",
			    data: {
			      labels: yValues,
			      datasets: [{
			        label: 'Ratings',
			        backgroundColor: barColor,
			        data: xValues
			      }]
			    },
			    options: {
			      maintainAspectRatio: true,  // Ensure the aspect ratio is maintained
			      aspectRatio: 2,  // Set the aspect ratio
			      indexAxis: 'y',
			      layout: {
                		padding: {
                    		right: 60 // Add more padding to the right side
                        }
            	  },
			      plugins: {
			        legend: { display: false },
			        title: {
			          display: true,
			          text: "Rating Breakdown",
			          beginAtZero: true
			        }
			      },
			      scales: {
			        x: {
			          ticks: {
			            min: 0,
			            max: 60,
			            beginAtZero: true
			          }
			        },
			        y: {
			          beginAtZero: true
			        }
			      }
			    },
			    plugins: [percentage]
			  });
			</script>

			
			
			<script th:inline="javascript">
				var monthlyDownloads = /*[[${monthlyDownloadsJson}]]*/ '{}';
				console.log(monthlyDownloads);
				var weeklyDownloads = /*[[${weeklyDownloadsJson}]]*/ '{}';
				console.log(weeklyDownloads);
				var thumbnailAppDetails = /*[[${appDetailsInThumbnail}]]*/ '()';
				var totalDownloads = thumbnailAppDetails.totalDownloads;
				var lastDownloadedOn = thumbnailAppDetails.lastDownloadedOn; 
				
				monthlyDownloadsJson = JSON.parse(monthlyDownloads);
				weeklyDownloadsJson = JSON.parse(weeklyDownloads);				
				
				var labels = Object.keys(monthlyDownloadsJson).concat([""]).concat(Object.keys(weeklyDownloadsJson));
				var monthlyData = Object.values(monthlyDownloadsJson).concat([null]).concat(new Array(7).fill(null));
   				var weeklyData = new Array(Object.entries(monthlyDownloadsJson).length).fill(null).concat([null]).concat(Object.values(weeklyDownloadsJson));
   				
			      
			    var ctx1 = document.getElementById("downloads");
			    var dwnldChart = new Chart(ctx1, {
			        type: "line",
			        data: {
			            labels: labels,
			            datasets: [{
			                label: "Downloads in last 3 months",
			                data: monthlyData,
			                borderColor: 'rgba(75, 192, 192, 1)',
			                fill: false,
			                yAxisID: 'y1',  
			            },
			            {
			                label: "Downloads in last 7 days",
			 				data: weeklyData,
			                borderColor: 'rgba(153, 102, 255, 1)',
			                fill: false,
			                yAxisID: 'y2',  
			            }]
			        },
			        options: {
			            legend: {
			                display: true
			            },
			            scales: {
			                x: {
			                    beginAtZero: false,
			                    title: {
			                      display:true,
			                      text: 'Downloaded ' + totalDownloads + ' times'
			                    }
			                },
			                y1: {
			                    type: 'linear',
			                    position: 'left',   // Left side Y-axis for monthly downloads
			                    title: {
			                        display: true,
			                        text: 'Monthly Downloads'
			                    }
			                },
			                y2: {
			                    type: 'linear',
			                    position: 'right',  // Right side Y-axis for weekly downloads
			                    title: {
			                        display: true,
			                        text: 'Weekly Downloads'
			                    },
			                    grid: {
			                        drawOnChartArea: false  // Disable grid lines on right side Y-axis
			                    }
			                }
			            }
			        }
			    });
			</script>
			

		</div>
  	</div>


	<div class="login" id="login" >
	    <div id = "user">
	      <label for="user">Username:</label>
	      <input type="text" name="user" />
	    </div>
	    <div id = "pwd">
	      <label for="pwd">Password:</label>
	      <input type="text" name="pwd"/>
	    </div>
	    
	    <a href="/oauth2/authorization/google">Login with Google</a>
	    <button type="submit" id = "loginbtn" onclick="handlePostUserLogin()">login</button>
	</div>  


	<script>
		const tools_btn = document.getElementById("tools-btn");
		tools_btn.addEventListener('click', function() {
			document.getElementById("descr").innerHTML = "This is the project despriction. Download it for best user expirence";
		});

		const entertain_btn = document.getElementById("entertain-btn");
		entertain_btn.addEventListener('click', function() {
			alert('entertain button clicked');
		});			
	</script>

	<script>
		const buttons = document.getElementById("buttons").cloneNode(true);
		const topbar = document.querySelector(".topbar").innerHTML;
		topbar.appendChild(buttons);
	</script>

	<script>
		function handleUserLogin() {
			var lgn = document.getElementById("login");
			lgn.style.display = "block";
			console.log("user login clicked");
		}

		function handlePostUserLogin() {
			var lgn = document.getElementById("login");
			lgn.style.display = "none";
			window.location.href = "/userProfile";
		}
	</script>

	<script>
		function showtools() {
			console.log("tools cliked");
			alert('tools cliked');
		}

	</script>

	<script>
		document.getElementById('search-query').addEventListener('keydown', function(e) {
			if(e.key === 'Enter') {
				e.preventDefault();
				document.getElementById('search-form').submit(); 
			}
		});
	</script>

	<script>
      document.addEventListener('DOMContentLoaded', function () {
        const cells = document.querySelectorAll('.search-table td:nth-child(2)');

        cells.forEach((cell) => {
          const originalText = cell.textContent.trim();

          if (originalText.length > 100) {
            const truncatedText = originalText.substring(0, 100);
            const remainingText = originalText.substring(100);


            const readMoreLink = document.createElement('span');
            readMoreLink.innerHTML =
              '<a class="read-more-link">... read more</a>';
            readMoreLink.style.textDecoration = 'none';


            const remainingSpan = document.createElement('span');
            remainingSpan.textContent = remainingText;
            remainingSpan.style.display = 'none'; // Initially hidden


            const showLessLink = document.createElement('span');
            showLessLink.innerHTML =
              '<a class="show-less-link">... show less</a>';
            showLessLink.style.textDecoration = 'none';
            showLessLink.style.display = 'none'; // Initially hidden

            cell.innerHTML = truncatedText;
            cell.append(readMoreLink);
            cell.append(remainingSpan);
            cell.append(showLessLink);

            readMoreLink.addEventListener('click', function (e) {
              e.preventDefault();
              readMoreLink.style.display = 'none'; // Hide "read more"
              remainingSpan.style.display = 'inline'; // Show remaining text
              showLessLink.style.display = 'inline'; // Show "show less"
            });


            showLessLink.addEventListener('click', function (e) {
              e.preventDefault();
              remainingSpan.style.display = 'none'; // Hide remaining text
              showLessLink.style.display = 'none'; // Hide "show less"
              readMoreLink.style.display = 'inline'; // Show "read more"
            });
          }
        });
      });
    </script>

    <script>
	    function handleAppDetails(id) {
		   history.back();
	       window.location.href = "/details/" + id;
	    }
	</script>
	
	
	
			 	
	<script th:inline="javascript" defer>
	    function updateDownloadStats(event) {
			alert("reached");
			event.preventDefault();
    		let today = new Date();
			today.setHours(0,0,0,0);
			alert("today : " + today);		
			lastDownloadedOn = new Date(lastDownloadedOn);
			lastDownloadedOn.setHours(0,0,0,0);
	     	alert("last downloaded on : " + lastDownloadedOn);

		  	let currentMonthName = today.toLocaleString('default', { month: 'long' });
	   		var monthlyDownloadEntries = Object.entries(monthlyDownloadsJson);
	      	alert("current month : " + currentMonthName);
		  	if(monthlyDownloadEntries[monthlyDownloadEntries.length-1][0] !== currentMonthName) {
		     	if(monthlyDownloadEntries.length === 4) 
				    monthlyDownloadEntries.shift(); 
			   	monthlyDownloadEntries.push([currentMonthName, 1]);
			 	monthlyDownloadsJson = Object.fromEntries(monthlyDownloadEntries)
			}
			else 
		      monthlyDownloadsJson[currentMonthName] += 1;
	
		  	let dateDifferenceInMilliseconds = today - lastDownloadedOn;
		  	let daysElapsed = dateDifferenceInMilliseconds / (1000 * 60 * 60 * 24);
		  	let daysOffset = daysElapsed % 7;
		  	alert("daysElapsed : " + daysElapsed);
			alert("daysOffset : " + daysOffset);
	    
				    
			var weeklyDownloadEntries = Object.entries(weeklyDownloadsJson);
			alert("weekly Entries : " + weeklyDownloadEntries);
	    	if(daysElapsed < 7) {
	      		for(let i = 1; i <= daysElapsed; i++) {   
	          		weeklyDownloadEntries.push(weeklyDownloadEntries.shift());
	          		weeklyDownloadEntries[6][1] = 0;
	          	}
	      		weeklyDownloadEntries[6][1] += 1;
	      		weeklyDownloadsJson = Object.fromEntries(weeklyDownloadEntries);
	       	}
			else {
	      		weeklyDownloadsJson = {};
	      		for(var j = daysOffset; j != (daysOffset - 1 + 7) % 7; j = (j + 1) % 7) 
	         		weeklyDownloadsJson[weeklyDownloadEntries[j][0]] = 0;   
	      
	      		weeklyDownloadsJson[weeklyDownloadEntries[j][0]] = 1;
	    	}
	
		    totalDownloads += 1;
		    lastDownloadedOn = today;
		    alert("total Downloads : " + totalDownloads);
		    alert("last Downloaded on : " + lastDownloadedOn);
		    dwnldChart.data.labels = Object.keys(monthlyDownloadsJson).concat([""]).concat(Object.keys(weeklyDownloadsJson));
		    dwnldChart.data.datasets[0].data = Object.values(monthlyDownloadsJson).concat([null]).concat(new Array(7).fill(null));
		    dwnldChart.data.datasets[1].data = new Array(Object.entries(monthlyDownloadsJson).length).fill(null).concat([null]).concat(Object.values(weeklyDownloadsJson));
		    dwnldChart.options.scales.x.title.text = 'Downloaded ' + totalDownloads + ' times';
		    dwnldChart.update();
	    
		    const data = {
		      monthlyDownloadsJson: monthlyDownloadsJson,
		      weeklyDownloadsJson: weeklyDownloadsJson,
		      totalDownloads: totalDownloads,
		      lastDownloadedOn: lastDownloadedOn
		    };
	    
		    fetch('/update-download-stats', {
					 method:'POST',
					 headers: {
					    'Content-Type': 'application/json',
					 },
					 body: JSON.stringify(data)
				})
			  .then(response => response.json())
				.catch(err => {
			});
	    
		}
	</script>

</body>